[Desktop Entry]
Type=Application
Name=ranger (termite)
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=false
Exec=termite -e 'ranger %F'
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
